name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allow to run this workflow manually
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CONTAINER_IMAGE_NAME: ${{ github.repository }}

jobs:
  test-build-strapi:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    permissions:
      contents: none
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
          cache: "npm"
      - name: Disable npm script execution
        run: npm config set ignore-scripts true
        shell: bash
      - name: Install dependencies
        run: npm ci --include=dev
      - name: Install better-sqlite3 release
        run: npm rebuild better-sqlite3 --ignore-scripts=false
        shell: bash
      - name: Run build
        run: npm run build
      - name: Run test
        run: cp .env.example .env && npm run test
        env:
          NODE_ENV: test

  build-push-image:
    needs: [test-build-strapi]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      security-events: write
      packages: write
      id-token: write
    outputs:
      version: ${{ github.sha }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build an image from Dockerfile
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:${{ github.sha }} . --build-arg COMMIT_SHA=${{ github.sha }}

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
        with:
          cosign-release: "v2.6.1" # use latest 2.x release until Kyverno supports 3.x

      - name: Login to container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate cosign vulnerability scan record
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db
        with:
          image-ref: ${{ env.IMAGE_NAME }}:${{ github.sha }}
          format: "cosign-vuln"
          output: "vulnerabilities.json"

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db
        with:
          image-ref: "${{ env.IMAGE_NAME }}:${{ github.sha }}"
          format: "sarif"
          output: "trivy-results.sarif"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@81b419c908d540ec4c7da9bfb4b5d941fca8f624
        with:
          sarif_file: "trivy-results.sarif"

      - name: Push image
        run: |
          docker tag ${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          docker tag ${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
          docker push --all-tags ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Sign the published Docker image
        run: cosign sign --yes ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Attest the vulnerability scan
        run: cosign attest --yes --replace --predicate vulnerabilities.json --type vuln ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

  deploy-staging:
    needs: [build-push-image]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: staging
    permissions:
      contents: read
    steps:
      - name: Deploy new staging image
        uses: digitalservicebund/argocd-deploy@4e758f584953506c571951ffcba33d6a6246e856 # v1.0.0
        with:
          environment: staging
          version: ${{ github.sha }}
          deploying_repo: a2j-rechtsantragstelle-strapi
          infra_repo: a2j-rechtsantragstelle-strapi-infra
          github_app_id: ${{ secrets.GITOPS_A2J_APP_ID }}
          github_app_private_key: ${{ secrets.GITOPS_A2J_APP_PRIVATE_KEY }}
          app: a2j-rast-strapi
          argocd_pipeline_password: ${{ secrets.ARGOCD_PIPELINE_PASSWORD }}
          argocd_server: ${{ secrets.ARGOCD_SERVER }}
          argocd_sync_timeout: 300
      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a # v1.0.0
        with:
          project: a2j-rechtsantragstelle
          environment: staging
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}

  deploy-staging-stackit:
    needs: [build-push-image]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: staging
    concurrency: deploy-staging
    permissions:
      contents: read
    steps:
      - name: Deploy new staging image
        uses: digitalservicebund/argocd-deploy@d14e68e4c78222189d8a20c1552639f33f93fe91 # auth-token branch, v1.0.0
        with:
          environment: environments/staging/strapi
          version: ${{ github.sha }}
          deploying_repo: a2j-rechtsantragstelle-strapi
          infra_repo: a2j-rechtsantragstelle-infra
          github_app_id: ${{ secrets.GITOPS_A2J_APP_ID }}
          github_app_private_key: ${{ secrets.GITOPS_A2J_APP_PRIVATE_KEY }}
          app: a2j-strapi
          argocd_auth_token: ${{ secrets.ARGOCD_AUTH_TOKEN }}
          argocd_server: ${{ secrets.ARGOCD_SERVER_STACKIT }}
      - name: Report Deployment
        uses: digitalservicebund/track-deployment@5a2815e150e1268983aac5ca04c8c046ed1b614a # v1.0.0
        with:
          project: a2j-rechtsantragstelle
          environment: staging
          metrics_deployment_webhook_url: ${{ secrets.METRICS_DEPLOYMENT_WEBHOOK_URL }}
          metrics_webhook_token: ${{ secrets.METRICS_WEBHOOK_TOKEN }}

  alert-pipeline-failure:
    name: Send failure message to Slack
    needs:
      [
        test-build-strapi,
        build-push-image,
        deploy-staging,
        deploy-staging-stackit,
      ]
    if: always() && failure() && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: none
    steps:
      - uses: digitalservicebund/notify-on-failure-gha@66c485757701f8d5dbee32f24df38d904ca693ba
        with:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
